*{
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}
/*logo*/
.logo {
	width: 320px;
	height: 238px;
	padding: 22px 0 16px;
	margin: 0 auto;
}

.logo img {
	display: block;
	width: 320px;
	height: 238px;
}

/*立即安装按钮*/
.lijianzhuang {
	display: block;
	width: 230px;
	height: 46px;
	margin: 0 auto;
}

.lijianzhuang img {
	display: block;
	width: 230px;
	height: 46px;
	margin: 0 auto;
}

.tishi {
	color: #87949f;
	font-size: 12px;
	text-align: center;
	padding: 10px 0 35px;
}
.zhuti {
	display: block;
	width: 320px;
	margin: 0 auto;
}

/*列表*/
.list {
	width: 320px;
	margin: 0 auto;
	padding: 11px 0 0;
}

.list li {
	padding-left: 44px;
	padding-bottom: 16px;
	overflow: hidden;
}
.list li img {
	width: 64px;
	height: 64px;
	float: left;
}

.list .biaotitxt {
	padding-left: 14px;
	float: left;
	
}

.list .biaotitxt  h1{
	font-size: 13px;
	color: #3a4048;
	font-weight: normal;
	padding: 14px 0 11px;
}

.list .biaotitxt p {
	font-size: 11px;
	color: #87949f;
}

/*网页底部*/
footer {
	font-size: 12px;
	color: #87949F;
	text-align: center;
	padding: 10px 0 ;
	line-height: 1.5em;
	background: #f9f9f9;
}
